{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
		<script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
		{% block t_block %}
  		{% endblock %}
	</head>
	<body>
		<header class="site-header">
			<div class="logo">
				<a href="http://localhost:8000/projects/"><img src="{% static 'fonts/logo.png' %}" alt="logo"></a>
			</div>
			
			<h1>Several unrelated small apps</h1>
			
			<nav class="menu">
				<ul>
					<li><a href="http://localhost:8000/projects/">Home</a></li>
					<li><a href="#">About app</a></li>
				</ul>
			</nav>
		</header>
		{% block content %}
  		{% endblock %}
	</body>
</html>