{% extends './base.html' %}
{% load staticfiles %}
{% block t_block %}
	<title>Projects</title>
{% endblock t_block %}
{% block content %}
	<div class="container">
		<div class="row up">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 secondrow">
				<a href="english" class="upp"><img class="firstblock" src="{% static 'fonts/english.jpg' %}"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 secondrow">
				<a href="fifteen" class="upp"><img class="firstblock" src="{% static 'fonts/fifteen.jpg' %}"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 secondrow">
				<a href="news" class="upp"><img class="firstblock" src="{% static 'fonts/news.jpg' %}"></a>
			</div>
		</div>
	</div>
{% endblock content %}