{% extends '../../english/templates/english/base.html' %}
{% load staticfiles %}
{% block t_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'rssreader/css/news.css' %}">
	<title>News</title>
{% endblock t_block %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 in">
				<form action="{% url 'english:profile' %}" method="post">
					{% csrf_token %}
					<span class="error">{{error}}</span><br>
					<span class="sign">Sign in</span>
					<hr>
					<label><span>Your email:</span><br>
						<input type="email" name="email">
					</label><br>
					<label><span>Your password:</span><br>
						<input type="password" name="password">
					</label><br>
					<input type="submit" name="sendin" value="Sign in">
				</form>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 up">
				<form action="{% url 'english:profile' %}" method="post">
					<span class="error">{{error_up}}</span>
					{% csrf_token %}
					<span class="sign">Sign up</span>
					<hr>
					<label><span>Your name:</span><br>
						<input type="text" name="name">
					</label><br>
					<label><span>Your email:</span><br>
						<input type="email" name="email">
					</label><br>
					<label><span>Think of a password</span><br>
						<input type="password" name="password">
					</label><br>
					<input type="submit" name="sendup" value="Sign up">
				</form>
			</div>
		</div>
	</div>
<script type="text/javascript" src="{% static 'rssreader/js/news.js' %}"></script>
{% endblock content %}