body, html {
	height: 100%;
}

body {
	background-color: #6d6d6d;
}

.site-header {
	background-color: #6d6d6d;
	height: 25%;
	border: 1px solid black;
	border-radius: 5px;
	
}
	.site-header h1 {
		float: left;
		font-family: Webdings;
		margin-top: 30px;
		width: 30%;
		min-height: 30%;
		text-align: center;
		color: white;
		margin-left: 250px;
		padding: 10px;

	}

	.logo {
		float: left;
	}
	.site-header img {
		
		margin-left: 40px;
		margin-top: 20px;
		border-radius: 50%;
		width: 140px;
		height: 120px;
		/*margin-right: 250px;*/
	}

	.menu {
		float: right;
		margin-top: 30px;
		border: 1px solid black;
		border-radius: 30px;
		margin-right: 20px;
	}

	.menu ul li {
		list-style: none;
		display: inline;
		margin-right: 20px;
	}

	.menu ul li:first-child {
		border-right: 2px solid black;
		padding-right: 25px;
	}

	.menu ul li > a {
		color: white;
		text-decoration: none;
		cursor: pointer;
		font-size: 25px;
	}
	
	.menu ul li a:hover {
		color: black;
	}

.site-main {
	margin-top: 5px;
	background-color: #a3a1a1;
	height: 70%;
	border: 1px solid black;
	border-radius: 5px;
}
	.site-main .english {
		margin-left: 70px;
		margin-top: 40px; 
	}
	.site-main img {
		height: 200px;
		width: 300px;
		cursor: pointer;
	}


