.firstrow {
	height: 200px;
}

.secondrow {
	height: 300px;
}



body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-image: url("../fonts/fon.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-color: #6d6d6d;*/
}

.first img {
	height: 150px;
	width: 70%;
	margin-left: 20px;
	margin-top: 20px;
	transition: transform .8s;
}

.first img:hover {
	transform: rotateY(180deg);
}

.second {
	padding-top: 10px;
	text-align: center;
	color: #74ca12;
	font-family: Webdings;
}

.third {
	padding-top: 5%;
	padding-left: 5%;
}

.menu ul li {
		list-style: none;
		display: inline;
		margin-right: 20px;
	}

	.menu ul li:first-child {
		border-right: 2px solid black;
		padding-right: 25px;
	}

	.menu ul li > a {
		color: #74ca12;
		text-decoration: none;
		cursor: pointer;
		font-size: 25px;
	}
	
	.menu ul li a:hover {
		color: black;
	}

.firstblock {
		height: 80%;
		width: 70%;
		margin-left: 10%;
		margin-top: 5%;
		border-radius: 15px;
}