body {
  background-color: #323E42;
}

button {
  background-color: #4286f4;
  margin-bottom: 10px;
  border: 3px solid #767385;
  width: 180px;
  height: 80px;
  font-size: 20px;
  border-radius: 0 15px;
}

#title {
  position: absolute;;
  top: 50px;
  left: 500px;
}

#left {
  position: absolute;
  top: 200px;
  left: 50px;
}

#right {
  position: absolute;
  top: 200px;
  right: 50px;
}

#ball {
  position: absolute;
  top: 200px;
  left: 400px;
}

#pic1 {
  position: absolute;
  top: 200px;
  left: 100px;
}

#pic2 {
  position: absolute;
  top: 200px;
  left: 500px;
}

#russian {
  position: absolute;
  top: 200px;
  left: 500px;
}

#english {
  position: absolute;
  top: 200px;
  left: 800px;
}